<!DOCTYPE html>
<html lang="zhCN" ng-app="app">
<head>
    <title>iTunes Artwork</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/lightbox/2.6/css/lightbox.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.min.css">
    <style type="text/css">
        a {
            text-decoration: none;
        }
        .wrapper {
            padding: 2% 10%;
        }
        #title {
            width: 100%;
            text-align: center;
        }
        #expression {
            line-height: 50px;
            width: 100%;
            border: 5px solid #cccccc;
            text-align: center;
            font-size: 18px;
        }
        
    </style>
</head>
<body>
    <div class="wrapper" ng-controller="ArtworkListCtrl">
        <h1 id="title">iTunes Artwork</h1>
        <form ng-submit="search()">
            <input id="expression" type="text" ng-model="expression" placeholder="关键词[:hk|tw|us|jp]" autocomplete="off" autofocus />
        </form>
        <table style="width: 100%;">
            <tbody>
                <tr ng-if="loading">
                    <td colspan="10" style="text-align:center;">
                        <i class="fa fa-spinner fa-spin fa-4x"></i>
                    </td>
                </tr>
                <tr ng-repeat="results_in_row in results">
                    <td ng-repeat="result in results_in_row">
                        <a href="{{getArtworkUrl(result)}}" data-lightbox="artwork">
                            <img width="100px" height="100px" ng-src="{{result.artworkUrl100}}"></td>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="margin-top:200px;width:100%;text-align:center;"><a href="https://github.com/exherb/itunes_artwork">@github</a></p>
    </div>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/lightbox/2.6/js/lightbox.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/angular.js/1.2.0rc3/angular.min.js"></script>
    <script type="text/javascript">
        var controllers = angular.module('controllers', []);
        controllers.controller('ArtworkListCtrl', ['$scope', '$http', function($scope, $http) {
            $scope.getArtworkUrl = function(result) {
                return result.artworkUrl100.replace('100x100', '600x600');
            };
            $scope.loading = false;
            $scope.search = function() {
                if($scope.expression.length == 0) {
                    $scope.results = [];
                    return ;
                }
                var termWithCountry = $scope.expression.split(':')
                var country = 'hk';
                if(termWithCountry.length > 1) {
                    country = termWithCountry[termWithCountry.length-1];
                    termWithCountry.splice(termWithCountry.length-1, 1);
                }
                term = termWithCountry.join(':')
                var query = 'http://itunes.apple.com/search?media=music&entity=album&lang=zh_cn&term=' + term + '&country=' + country + '&callback=JSON_CALLBACK';
                $scope.loading = true;
                $http.jsonp(query).
                    success(function(data, status){
                        var results = [];
                        var results_in_row = [];
                        results.push(results_in_row);
                        var result;
                        for (var i = 0; i < data.results.length; i++) {
                            result = data.results[i];
                            results_in_row.push(result);
                            if(results_in_row.length == 10) {
                                results_in_row = [];
                                results.push(results_in_row);
                            }
                        }
                        $scope.results = results;
                        $scope.loading = false;
                    });
            };
        }]);
        var app = angular.module('app', ['controllers']);
    </script>
</body>
</html>
